<section class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-12">
       <h2 class="bg-warning m-2 p-3 text-white text-center text-uppercase">table using ng</h2>
       <table class="table table-bordered ">
        <thead class="text-white">
          <tr>
            <!-- <th>sr no</th> -->
            <!-- <th>userId</th> -->
            <th>id</th>
            <th>title</th>
            <th>body</th>
          </tr>
        </thead>
        <tbody class="text-white">
          <tr *ngFor="let s of person, let i = index">
            <!-- <td>{{i + 1}}</td> -->
            <!-- <td>{{s.userId}}</td> -->
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>{{s.body}}</td>
          </tr>
        </tbody>
       </table>
      </div>
    </div>
  </div>
</section>